<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4 id="item-1">Serviço 1</h4>
      <img src="../assets/servico.png" width="200px"/>      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar malesuada interdum. Phasellus consectetur mauris ac lectus interdum gravida. Cras mi leo, luctus malesuada pharetra ac, pharetra in urna. Praesent ultricies imperdiet bibendum. Phasellus faucibus egestas arcu, ut maximus velit interdum placerat. Nullam pulvinar odio ac sapien tempus maximus. Vivamus in neque eleifend, consectetur magna vitae, viverra ligula. Donec placerat nibh non libero tristique ullamcorper. Praesent id faucibus libero. Integer varius sem commodo, cursus neque at, scelerisque arcu. Morbi dui dolor, convallis eget lectus vitae, lacinia facilisis sem.</p>
    </div>
    <div class="col-sm">
      <h4 id="item-1-1">Serviço 2</h4>
      <img src="../assets/servico.png" width="200px"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar malesuada interdum. Phasellus consectetur mauris ac lectus interdum gravida. Cras mi leo, luctus malesuada pharetra ac, pharetra in urna. Praesent ultricies imperdiet bibendum. Phasellus faucibus egestas arcu, ut maximus velit interdum placerat. Nullam pulvinar odio ac sapien tempus maximus. Vivamus in neque eleifend, consectetur magna vitae, viverra ligula. Donec placerat nibh non libero tristique ullamcorper. Praesent id faucibus libero. Integer varius sem commodo, cursus neque at, scelerisque arcu. Morbi dui dolor, convallis eget lectus vitae, lacinia facilisis sem.</p>
    </div>
    <div class="col-sm">
      <h4 id="item-1-2">Serviço 3</h4>
      <img src="../assets/servico.png" width="200px"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar malesuada interdum. Phasellus consectetur mauris ac lectus interdum gravida. Cras mi leo, luctus malesuada pharetra ac, pharetra in urna. Praesent ultricies imperdiet bibendum. Phasellus faucibus egestas arcu, ut maximus velit interdum placerat. Nullam pulvinar odio ac sapien tempus maximus. Vivamus in neque eleifend, consectetur magna vitae, viverra ligula. Donec placerat nibh non libero tristique ullamcorper. Praesent id faucibus libero. Integer varius sem commodo, cursus neque at, scelerisque arcu. Morbi dui dolor, convallis eget lectus vitae, lacinia facilisis sem.</p>
    </div>
    <div class="col-sm">
      <h4 id="item-2">Serviço 4</h4>
      <img src="../assets/servico.png" width="200px"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar malesuada interdum. Phasellus consectetur mauris ac lectus interdum gravida. Cras mi leo, luctus malesuada pharetra ac, pharetra in urna. Praesent ultricies imperdiet bibendum. Phasellus faucibus egestas arcu, ut maximus velit interdum placerat. Nullam pulvinar odio ac sapien tempus maximus. Vivamus in neque eleifend, consectetur magna vitae, viverra ligula. Donec placerat nibh non libero tristique ullamcorper. Praesent id faucibus libero. Integer varius sem commodo, cursus neque at, scelerisque arcu. Morbi dui dolor, convallis eget lectus vitae, lacinia facilisis sem.</p>
    </div>
    <div class="col-sm">
      <h4 id="item-3">Serviço 5</h4>
      <img src="../assets/servico.png" width="200px"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar malesuada interdum. Phasellus consectetur mauris ac lectus interdum gravida. Cras mi leo, luctus malesuada pharetra ac, pharetra in urna. Praesent ultricies imperdiet bibendum. Phasellus faucibus egestas arcu, ut maximus velit interdum placerat. Nullam pulvinar odio ac sapien tempus maximus. Vivamus in neque eleifend, consectetur magna vitae, viverra ligula. Donec placerat nibh non libero tristique ullamcorper. Praesent id faucibus libero. Integer varius sem commodo, cursus neque at, scelerisque arcu. Morbi dui dolor, convallis eget lectus vitae, lacinia facilisis sem.</p>
    </div>
  </div>
</div>